.recipe-list-container {
    display: flex;
    flex-direction: column;
    padding: 5em;
}

.recipe-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.recipe-tile {
    margin: 2em;
}

.recipe-tile-img {
    max-width: 20em;
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    margin: 0 0 1em 0;
    border-radius: 1em;
}

.recipe-tile-name {
    max-width: 16em;
    font-size: 20px;
}

.total-recipes {
    margin: 0 0 0 2em;
}